{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Mis Perris | Mascotas</title>


</head>

<body>
    <header class="container-fluid superior">
        <!--Barra de navegación-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 logo">
                <a href="#"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
            </div>
            <!--Botones de CRUD-->
            <div class="col-12 col-sm-12  col-md-12- col-lg-3 ">
                <a href="#" name="mostrar2" id="mostrar2" class="btn btn-success" role="button"> Agregar Mascota
                </a>

                <a href="{% url 'index' %}" class="btn btn-outline-secondary " role="button"> Cerrar Sesión </a>
            </div>
        </div>
    </header>


    <!--Formulario Ingresar Mascotas-->
    <form action="/mascotas/crear_mascota/" enctype="multipart/form-data" method="POST" id="formulario2">
        {% csrf_token %}
        <h4 class="text-center">Agregar Mascotas</h4>
        <br>
        <div class="container-fluid">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre Mascota">
                </div>
                <div class="form-group col-md-6">
                    <label for="raza">Raza</label>
                    <select class="form-control" name="raza" id="raza">
                        <option disabled selected>Selecciona una Raza </option>
                        <option>Mestizo</option>
                        <option>Fox Terrier</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="estado">Estado</label>
                    <select class="form-control" name="estado" id="estado">
                        <option disabled selected>Selecciona un Estado </option>
                        <option>Rescatado</option>
                        <option>Disponible</option>
                        <option>Adoptado</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="imagen">Cargar imagen</label>
                    <input type="file" class="form-control-file" name="imagen" id="imagen">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-md-6 ">
                    <label for="comentario ">Escribe una breve descripción de la mascota(max 50 caracteres)</label>
                    <textarea class="form-control " name="comentario" id="comentario " rows="3 "></textarea>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <button id="ocultar2" type="button" class="btn btn-outline-dark btn-block">Ocultar</button>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input type="submit" class="btn btn-success btn-block" value="Registrar">
                    <br>
                </div>
            </div>
        </div>
    </form>

    <!--Listar Datos de BBDD-->
    <h4 class="text-center">Listar Datos de Mascotas</h4>
    <br>

    <div class="container-fluid">
        <table class="table table-striped" id="table1">
            <thead class="thead-success">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for e in elementos %}
                <tr>
                    <th scope="row">{{e.id}}</th>
                    <td> {{e.nombre}} </td>
                    <td> {{e.raza}} </td>
                    <td> {{e.estado}}</td>
                    <td> {{e.comentario}}</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="vista_modificar/{{e.id}}" onclick="editar('{{e.nombre}}',' {{e.raza}}','{{e.estado}}','{{e.imagen}}','{{e.comentario}}','{{e.id}}')"><span
                                class="glyphicon glyphicon-edit"></span>
                            Editar</a>
                        <a class="btn btn-sm btn-danger" href="eliminar/{{e.id}}"><span class="glyphicon glyphicon-trash"></span>
                            Eliminar</a>
                    </td>
                    <td>
                        <img src="/media/{{e.imagen}}" class="mostrar-img">
                    </td>
                </tr>
                {% endfor %}
            </tbody>


        </table>

    </div>

    <footer>
        <h4>Desarrollo Web y Mobile</h4>
    </footer>


    <script src="{% static 'js/jquery-3.3.1.js' %} "></script>
    <script src="{% static 'js/popper.js' %} "></script>
    <script src="{% static 'js/bootstrap.js' %} "></script>
    <script src="{% static 'js/jquery.validate.js' %} "></script>
    <script src="{% static 'js/jquery.mask.js' %} "></script>
    <script src="{% static 'js/jquery.sliphover.js' %} "></script>
    <script src="{% static 'js/app.js' %} "></script>
</body>

</html>