{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Mis Perris | Registro</title>
</head>

<body>
    <header class="container-fluid superior">
        <!--Barra de navegación-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 logo">
                <a href="#"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
            </div>
            <div class="col-12 col-sm-12 col-md-12  col-lg-1 menu horizontal">
                <a href="#">Inicio</a>
            </div>
            <div class="col-12 col-sm-12  col-md-12 col-lg-2 menu horizontal">
                <a href="#">Quiénes Somos</a>
            </div>
            <div class="col-12 col-sm-12  col-md-12 col-lg-1 menu horizontal">
                <a class="#" href="#">Servicios</a>
            </div>
            <div class="col-12 col-sm-12  col-md-12 col-lg-1 menu horizontal">
                <a href="#">Contáctanos</a>
            </div>
            <div class="col-12 col-sm-12  col-md-12- col-lg-3  menu horizontal">
                <a href="{% url 'index' %}" class="btn btn-outline-secondary btn-block" role="button"> Cancelar </a>
            </div>
        </div>

    </header>

    <!--FORMULARIO Registro de personas-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form action="/registro/crear/" method="POST" id="formulario">
                        {% csrf_token %}
                    <h3 class="text-center">Registrar Usuario</h3>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="nombre">Nombre: </label>
                                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese su Nombre Completo">
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="run">RUN: </label>
                                <input type="text" name="run" id="run" class="form-control" placeholder="Ej: xx.xxx.xxx-x">
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="fech-naci">Fech.Naci</label>
                                <input placeholder="Selecciona una Fecha" type="date" onfocus="(this.type='date') " onblur="(this.type='text')" name="fecha_naci" id="fecha_naci" class="form-control" max="2001-12-31" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="correo">Correo Electrónico: </label>
                                <input type="email" name="correo" id="correo" class="form-control" placeholder="Ej: abc@abc.com">
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="celular">Celular: </label>
                                <input type="text" name="celular" id="celular" class="form-control" placeholder="Máximo 9 dígitos">
                                <!--Es text porque se está usando mask para darle formato-->
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="region">Región</label>
                                <select class="form-control" name="region" id="region">
                                    <option disabled selected>Seleccione una Región</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="region">Ciudad</label>
                                <select class="form-control" name="ciudad" id="ciudad">
                                    <option disabled selected>Seleccione una Ciudad</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="region">Tipo Casa</label>
                                <select class="form-control" name="casa" id="casa">
                                    <option disabled selected>Seleccione un Tipo</option>
                                    <option value="casa-gr">Casa con patio grande</option>
                                    <option value="casa-pq">Casa con patio pequeño</option>
                                    <option value="casa-s-p">Casa sin patio</option>
                                    <option value="dpto">Departamento</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="correo">Contraseña: </label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Mínimo 6 caractéres">
                            </div>
                        </div>
                    </div>
                   
                    <!--Botones del formulario-->
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <button type="reset" class="btn btn-outline-danger btn-block">Limpiar</button>
                                <br>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <input type="submit" class="btn btn-success btn-block" value="Registrar">
                                <br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>






    <footer>
        <h4>Desarrollo Web y Mobile</h4>
    </footer>


    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/jquery.sliphover.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>